body{
    background-image: url(istockphoto-1304895375-612x612.jpg);
    
}

.container{
    /* max-width: 400px;
    margin: 0vh auto 0 auto; */
    position: fixed;
    width: 36vw;
    height:50vh;
    left: 30vw;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
    

}

#display {
   text-align: right ;
   height: 10vh;
   line-height: 70px;
   padding: 16px 8px;
   font-size: 25px;
   background-color:navy;
   color: aliceblue;
   

}

.buttons{
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999 ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-color: orange;
    height: 79.5vh;
    
}

.buttons > div{
border-top:1px solid #999 ;
border-right:1px solid #999 ;
}

.button{
    border: 1px solid #999;
    border-radius: 3px;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    height: 15.5vh;
}


#equel{
    background-color: navy;
    color: aliceblue;

}

.button:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}



